html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono";
}
* {
  box-sizing: border-box; /* Apply to all elements */
}
p,
h4 {
  margin: 0;
  font-weight: 450;
}
hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}
button {
  background-color: #085490;
  color: white;
  border-radius: 25px;
  border-style: none;
  width: 5.5rem;
  height: 2.5rem;
  font-weight: 900;
  font-size: 0.9rem;
}
.bold-text {
  font-weight: 800;
}
.small-text {
  font-size: 0.7rem;
  font-weight: 600;
}
.lightgrey-text {
  color: rgb(55, 62, 68);
}
.navbar-right {
  grid-column: 2/3;
}
.navbar-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}
.sidebar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 125px repeat(6, 1fr) 270px repeat(4, 1fr);
  gap: 5px;
  align-items: center;
  background-color: #085490;
  color: white;
  grid-row: 1/3;
}
.sidebar > svg,
.sidebar > span > svg {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  fill: white;
}
.dashboard-logo {
  flex-grow: 0.05;
  padding-top: px;
  display: flex;
  align-items: center;
  gap: 5px;
  grid-column: 2/3;
}
.navbar {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 1fr 3fr;
}

.navbar-element {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar2 > span {
  max-height: 50px;
}
.topbar {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.32);
  height: 20vh;
  z-index: 1;
}
.upper-segment,
.lower-segment {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  gap: 25px;
  padding-left: 50px;
  flex-grow: 5;
  align-items: center;
}
.left > input {
  width: 75%;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  background-color: lightgray;
}
.right {
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: flex-end;
  padding-right: 5%;
}
.right > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.left > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.center-grid {
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 10fr;
  align-items: end;
  padding-left: 25px;
  gap: 25px;
  height: 80vh;
}
.card-container {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(2, minmax(75, 1fr));
  gap: 20px;
  height: 90%;
  align-self: start;
}
.card {
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid;
  border-color: rgb(255, 233, 32);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  gap: 10px;
  justify-content: space-between;
}
.card-buttons {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 10px;
  justify-content: flex-end;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.right-bar {
  grid-row: 1/3;
  align-self: flex-start;
  align-items: end;
  display: grid;
  grid-template-rows: 1fr 4fr 40px 4fr;
  height: 80vh;
  padding-right: 20px;
  gap: 5px;
  padding-bottom: 10%;
}
.announcement-card {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  font-size: small;
}
.trending-card {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  font-size: small;
  gap: 25px;
}
.trending-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.trending-item > img {
  height: 50px;
}
