html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono";
}
p {
  margin: 0;
}
button {
  background-color: #085490;
  color: white;
  border-radius: 25px;
  border-style: none;
  width: 5.5rem;
  height: 2.5rem;
  font-weight: 900;
  font-size: 0.9rem;
}
.bold-text {
  font-weight: 800;
}
.navbar-right {
  grid-column: 2/3;
}
.navbar-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}
.sidebar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 125px repeat(6, 1fr) 270px repeat(4, 1fr);
  gap: 5px;
  align-items: center;
  background-color: #085490;
  color: white;
  grid-row: 1/3;
}
.sidebar > svg,
.sidebar > span > svg {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  fill: white;
}
.dashboard-logo {
  flex-grow: 0.05;
  padding-top: px;
  display: flex;
  align-items: center;
  gap: 5px;
  grid-column: 2/3;
}
.navbar {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 1fr 3fr;
}

.navbar-element {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar2 > span {
  max-height: 50px;
}
.topbar {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.75);
}
.upper-segment,
.lower-segment {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  gap: 25px;
  padding-left: 50px;
  flex-grow: 5;
  align-items: center;
}
.left > input {
  width: 75%;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  background-color: lightgray;
}
.right {
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: flex-end;
  padding-right: 5%;
}
.right > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.left > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
